True is returned for empty string as well as 'high'

```
const isbase64 = require('is-base64')

const text1 = ''
console.log(isbase64(text1, { mime: true }))
// true

const text2 = 'high'
console.log(isbase64(text2, { mime: true }))
// true```

@tkostus this is expected behavior; according to [RFC 4648 Section 10](https://tools.ietf.org/html/rfc4648#section-10), the following is valid test vector:

```
BASE64("") = ""
```

you can use the `allowEmpty: false` option to invalidate empty strings:

```js
console.log(isBase64('', {allowEmpty: false})); // false
```

And the letters in `high` are also valid base64 characters.

<a href="https://en.wikipedia.org/wiki/Base64"><img width="686" alt="Screen Shot 2019-08-31 at 11 36 40 AM" src="https://user-images.githubusercontent.com/168240/64067814-a05d6200-cbe3-11e9-9203-281801745eda.png"></a>

To require the mime type, use the `mimeRequired: true` option:
```js
console.log(isbase64('high', {mimeRequired: truej})) // false
```

Closing issue. Create a new issue if you think it's still a problem.